
02. Surpervised/.ipynb_checkpoints/ML Notebook_Mariana-checkpoint.ipynb
02. Surpervised/Outros/9. Notebooks aulas/LAB_NeuralNetworks/Neural Networks.ipynb
02. Surpervised/Outros/9. Notebooks aulas/LAB_NeuralNetworks/image/optimizers.gif
02. Surpervised/Outros/9. Notebooks aulas/LAB_NeuralNetworks/image/neuralnetwork.gif
02. Surpervised/Outros/9. Notebooks aulas/LAB_NeuralNetworks/image/activation.png
02. Surpervised/Outros/9. Notebooks aulas/LAB_NeuralNetworks/data/diabetes.csv
02. Surpervised/Outros/9. Notebooks aulas/LAB_NeuralNetworks/.ipynb_checkpoints/Neural Networks-checkpoint.ipynb
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/images/sup_unsup.PNG
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/images/semma.png
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/images/reg_metrics.PNG
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/images/model_selection.PNG
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/images/kfold.PNG
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/images/hold_out_3.png
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/images/hold_out.JPG
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/images/decision_trees.PNG
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/images/class_metrics.PNG
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/data/titanic.csv
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/data/diabetes.csv
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/data/Boston.csv
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/04_Decision Trees.ipynb
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/03_Feature Selection.ipynb
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/02_Evaluation Metrics.ipynb
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/01_Model Evaluation.ipynb
02. Surpervised/Outros/9. Notebooks aulas/LAB_ModelEvaluation_FeatureSelection_DecisionTrees/.ipynb_checkpoints/01_Model Evaluation-checkpoint.ipynb
